.tracking-container{
    background: white;
    display: flex;
    flex-direction: row;
    color: black;
    height: 100%;
    min-height: 100vh;
    
}


.tracking-transaction {
    display: flex;
    flex-direction: column;
    width: 650px;
    background: white;
    padding: 6px 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.tracking-graphs {
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 100%;
    padding: 20px;
}

.tracking-info {
    background: white;
}

.tracking-container h2 {
    padding: 6px 8px;
    font-weight: bold;
    font-size: x-large;
}

.graph-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ensures even spacing */
    gap: 20px; /* Adjust spacing between charts */
}

.chart-wrapper {
    width: 45%;  /* Each chart takes almost half of the container */
    max-width: 400px;
    height: 250px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}
